.lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Center items vertically */
    margin-top: 5%;
    height: 80%; /* Allow height to adjust based on content */
    width: auto;
    gap: 3%;
    overflow: auto;
}
.lists h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 5%;
}
.lists img {
    height: auto; /* Allow height to adjust automatically */
    width: 100%; /* Full width for images */
    height: 80%; /* Set a max height for images */
    border: 1px solid gray;
    border-radius: 8px; /* Add some rounding to the image corners */
    transition: transform 0.3s ease; /* Smooth scaling on hover */
}


.addProperty {
    display: flex;
    flex-direction: row;
    gap: 6%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: fit-content;
    padding: 5px;
    z-index: 1;
}

.addProperty button {
    border-radius: 30px;
    border: 2px solid white;
    background-color: green;
    color: white;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    height: 80px;
    width: 400px;
    margin-bottom: 25%;
    transition: background-color 0.3s, border 0.3s; /* Smooth transition */
}

.addProperty button:hover {
    border: 2px double white;
    background-color: darkgreen; /* Change background on hover */
}

.addProperty img {
    border: none;
    height: 400px;
}
@media (max-width: 800px) {
    .lists {
        gap: 2%;
        width: 100%;
        /* flex-direction: column; Change to a column layout on mobile */
    }


    .lists h1{
        font-size: 1.5rem;
        white-space: nowrap;
    }
    
}
@media (max-width: 500px) {
    .lists {
        gap: 3%;
        width: 100%;
        flex-direction: column; 

    }

    .lists img {
        width: 100%; /* Full width on mobile */
       
    }
    .lists h1{
        font-size: 1.5rem;
        white-space: nowrap;
    }
}